h1{
	font-size:3em;
	text-align:center;
	border-style:solid;
	border-radius:2000px;
	border-color:rgb(2,61,28);
	background-color:#a2abfa;
	margin-left:400px;
	margin-right:400px;
	text-shadow:2px 2px 5px silver;
	text-shadow:3px 3px 5px silver;
	box-shadow:3px 3px 5px;
	box-shadow:4px 4px 5px;
}
#projects{
	text-decoration:underline;
}
html, body{
	min-height:100%;
}
td,th,tr{
	border:1px solid blue;
}
tr:hover {
	background-color: blue;
}
table{
	border:2px solid black;
	width:80%;
	border-collapse: collapse;
}