@keyframes appear{
	0%{opacity:.0;}
	100%{opacity:1;}
}
a{
	color:black;
	text-decoration:none;
	font-size:1.1em;
	float:right;
	padding-left:55px;
	animation-name:appear;
	animation-duration: 3s;
}
a:hover{
	color:green;
}
body{
	background: linear-gradient(#99bdde, #9ba1ce,#cddfe8, silver, #DCDBDF);
	font-family: 'Poppins', sans-serif;
	font-family: 'Markazi Text', serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Roboto', sans-serif;
	animation-name:appear;
	animation-duration: 3s;

}
#SMASH{
	float:left;
	width:200px;
	height:40px;
	background-color: rgba(255,255,255,.2);
}
#top_nav{
	font-size:1em;
}
#content{
	background-color:#a2abfa;
	float:top-right;
	font-size:20px;
	border-style:inset;
	border-radius:10px;
	border-color:rgb(2,61,28);
	border-image:url(Images/border.png)30 Round;
	letter-spacing: 1.6px;
	padding:20px;
	line-height:35px;
}
nav{
	text-decoration:none;
}
@media only screen and (max-width:600px){
	
}